<div id="footer" class="mb-5">
        <hr>
        <div class="container text-center">
            <small>{{ .Site.Params.footer.text }} - Last updated {{ now.Format "Jan 2, 2006" }} </small>
            <br>
            <img src="{{ .Site.Params.footer.image | absURL }}" alt="{{ .Site.Params.footer.image }}" width="{{ .Site.Params.footer.width }}">
        </div>
</div>
